.tac {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn-add {
    display: block;
}

.todo-list {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.todo-list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    gap: 8px;
}

.todo-list__item:last-child {
    border-bottom: none;
}

.todo-list__checkbox {
    margin-right: 15px;
}

.todo-list__text {
    flex-grow: 1;
    margin-right: 15px;
    font-size: 16px;
    color: #333;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#editModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    max-width: 400px;
    width: 100%;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.edit-task-textarea {
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#addNewTaskModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.new-task-input {
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    max-width: 400px;
    width: 100%;
    z-index: 1100;
}

.btn-close {
    display: none;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-add-task .btn-cancel-task {
    width: 45%;
}

button:hover {
    opacity: 0.9;
}